@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
  width: 100%;

  display: grid;
  height: 100dvh;
  min-height: 100%;
}

.w310h250 {
  height: 250px;
}

.w310h400 {
  height: 400px;
}

.w310h285 {
  height: 285px;
}

.w310h280 {
  height: 280px;
}

.w310h340 {
  height: 340px;
}

.w310h500 {
  height: 500px;
}

.w310h420 {
  height: 420px;
}

.w310h260 {
  height: 260px;
}

.w310h430 {
  height: 430px;
}

.w310h330 {
  height: 330px;
}

.w310h525 {
  height: 525px;
}

.gallery-card {
  width: 310px;
}

@media (max-width: 769px) {
  .gallery-card {
    width: 324px;
  }
}

@media (max-width: 545px) {
  .gallery-card {
    width: 327px;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
